<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>~</title>
    <meta name="description" content="Christoph's Startpage">
    <meta name="author" content="Christoph coijanovic">
    <link rel="stylesheet" href="{{ url_for('static', filename='startpage.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="min-vh-100 text-center m-0  d-flex flex-column justify-content-center">
                <samp>{{ data[0] }}</samp>
                <samp><div id="clock"></div></samp>
                <samp>{{ data[1] }}</samp>
                <samp>Don't panic!</samp>
            </div>
        </div>
    </div>
</div>
    <script>
        function getTime() {
            let date = new Date(),
                min = date.getMinutes(),
                hour = date.getHours();

            return "It's " + 
                (hour < 10 ? ("0" + hour) : hour) + ":" + 
                (min < 10 ? ("0" + min) : min); 
        }
        window.onload = () => {
            // Set up the clock
            document.getElementById("clock").innerHTML = getTime();
            // Set clock interval to tick clock
            setInterval( () => {
                document.getElementById("clock").innerHTML = getTime();
            },100);
        }
    </script>
</body>
</html>
